/* RTL CSS for modal entities. */

div.modal_entities-modal-content .item-list ul li {
  margin: 0 1.5em 0.25em 0;
}

div.modal_entities-modal-content .popups-container {
  text-align: right;
}

div.modal_entities-modal-content .popups-close {
  float: left;
}
